<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

        <div>
            <button id = "userBtn">User Only</button>
        </div>
        <div>
            <button id = "cusBtn">Customer Only</button>
        </div>
        <div>
            <button id = "manBtn">Manager Only</button>
        </div>
        <div>
            <button id = "manCusBtn">Manager Customer</button>
        </div>
        <div>
            <button id = "backBtn">Back</button>
        </div>

</head>
<body>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $("#userBtn").button().click(function(){
        window.location.href = 'userReg';
    });
    $("#cusBtn").button().click(function(){
        window.location.href = 'cusReg';
    });
    $("#manBtn").button().click(function(){
        window.location.href = 'manReg';
    });
    $("#manCusBtn").button().click(function(){
        window.location.href = 'manCusReg';
    });
    $("#backBtn").button().click(function(){
        window.location.href = '/';
    });

</script>